<!-- Rename to Secrets.config after adding keys & secrets -->
<appSettings>
  <add key="GoogleProjectId" value="for-example-12345" />
  <add key="GoogleClientId" value="12345.apps.googleusercontent.com" />
  <add key="GoogleClientSecret" value="abcde12345" />
  <add key="GoogleRedirectUri" value="/auth/google"/>
  <add key="FacebookAppId" value="12345" />
  <add key="FacebookAppSecret" value="abcde12345" />
  <add key="FacebookRedirectUri" value="/auth/facebook" />
  <add key="TwitterConsumerKey" value="12345" />
  <add key="TwitterConsumerSecret" value="abcde12345" />
  <add key="TwitterRedirectUri" value="/auth/twitter" />
</appSettings>
